@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  @apply font-sans font-light;
}
.navbar {
  @apply inline-flex gap-x-10 lg:gap-x-16 xl:gap-x-20;
}
.navbar-link {
  @apply inline-block border-t border-primary uppercase text-primary transition hover:text-primary-light hover:border-primary-light;
  padding-top: 8px;
  padding-bottom: 8px;
  &:hover {
    @apply border-t-2;
    padding-top: 7px;
  }
  &.active {
    @apply border-t-2 font-bold;
    padding-top: 7px;
  }
}
.navbar-dropdown {
  > li {
    @apply relative;
    &:hover {
      .navbar-submenu {
        @apply h-auto opacity-100;
      }
    }
  }
  .navbar-submenu {
    @apply h-0 absolute bg-white shadow-md z-50 opacity-0 transition duration-300 ease-out;
    > li {
      @apply border-b border-gray-200;
      &:last-child {
        @apply border-0;
      }
      .navbar-submenu-link {
        @apply block bg-white pr-4 pl-3 py-3 whitespace-nowrap border-l-4 border-transparent transition hover:border-primary-light hover:bg-gray-100;
        &.active {
          @apply border-primary-light bg-gray-100;
        }
      }
    }
  }
}

.page-homepage {
  .hero-container {
    @apply relative w-full flex flex-col justify-center items-center bg-primary text-white;
    height: calc(100vh - 144px);
    &:after {
      content: '';
      position: absolute;
      width: 25%;
      height: 100%;
      background: white;
      top: 0;
      right: 0;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }
  }
  .hero-text {
    @apply text-2xl text-center lg:text-3xl;
  }
}
.page-about {
  .hero-container {
    @apply relative w-full flex flex-col justify-center items-center bg-primary text-white;
    height: calc(100vh - 144px);
  }
  .hero-text {
    @apply max-w-5xl px-4 text-left leading-relaxed text-2xl xl:text-3xl xl:leading-relaxed;
  }
}

.page-vision-mission {
  .hero-container {
    @apply relative w-full flex flex-col bg-white text-black;
    min-height: calc(100vh - 144px);
    background-image: url('/img-vision_mission-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    //background-size: contain;
    background-size: 90%;
  }
  .hero-inner {
    @apply px-4 max-w-7xl mx-auto;
  }
  .hero-text {
    @apply pt-24 text-2xl text-left leading-relaxed w-4/5;
  }
}

.page-services {
  .hero-container {
    @apply relative w-full flex flex-col bg-primary text-white;
    min-height: calc(100vh - 144px);
  }
}
.service-link {
  @apply block relative pl-5 ml-3 transition duration-500 ease-out transform-gpu lg:ml-0 lg:hover:scale-105;
}

.list-infinite {
  li {
    @apply relative pl-7 mb-1;
    &:before {
      content: '∞';
      font-size: 18px;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 24px;
    }
  }
}
.logo-partner {
  @apply flex items-center justify-center;
}

.page-end-point {
  .hero-container {
    @apply relative w-full bg-primary text-white;
    height: calc(100vh - 144px);
    background-image: url('/services-1b-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
  .hero-inner {
    @apply relative w-full h-full max-w-7xl px-4 mx-auto;
  }
  .hero-title {
    @apply uppercase absolute top-16 left-4 w-full max-w-xs text-3xl;
  }
  .hero-text {
    @apply absolute right-4 top-16 max-w-sm text-lg;
    p {
      @apply mb-4;
    }
    ul li {
      @apply relative pl-7 mb-1;
      &:before {
        content: '∞';
        font-size: 18px;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 1.5;
      }
    }
  }
  .hero-logos {
    @apply absolute right-4 bottom-8 max-w-md;
    .logo-partner {
      @apply flex items-center justify-center;
    }
  }
}

.page-data-center-infrastructure {
  .hero-container {
    @apply relative w-full bg-primary text-white;
    height: calc(100vh - 144px);
    background-image: url('/services-2-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
  .hero-inner {
    @apply relative w-full h-full max-w-7xl px-4 mx-auto;
  }
  .hero-title {
    @apply uppercase absolute top-16 left-4 w-full max-w-lg text-3xl;
  }
  .hero-text {
    @apply absolute right-4 top-16 max-w-lg text-lg;
    p {
      @apply mb-4;
    }
    ul {
      @apply mb-4;
      li {
        @apply relative pl-7 mb-1;
        &:before {
          content: '∞';
          font-size: 18px;
          position: absolute;
          top: 0;
          left: 0;
          line-height: 1.5;
        }
      }
    }
  }
  .hero-logos {
    @apply absolute right-4 bottom-8 max-w-lg;
    .logo-partner {
      @apply flex items-center justify-center;
    }
  }
}

.page-availability-data-protection {
  .hero-container {
    @apply relative w-full bg-primary text-white;
    height: calc(100vh - 144px);
    background-image: url('/services-3b-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
  .hero-inner {
    @apply relative w-full h-full max-w-7xl px-4 mx-auto;
  }
  .hero-title {
    @apply uppercase absolute top-16 left-4 w-full max-w-lg text-3xl;
  }
  .hero-text {
    @apply absolute right-4 top-8 text-lg;
    max-width: 428px;
    @media (min-width: 1281px) {
      max-width: 400px;
      right: 0;
      top: 40px;
    }
    p {
      @apply mb-4;
    }
    ul {
      @apply mb-4;
      li {
        @apply relative pl-7 mb-1;
        &:before {
          content: '∞';
          font-size: 18px;
          position: absolute;
          top: 0;
          left: 0;
          line-height: 1.5;
        }
      }
    }
  }
  .hero-logos {
    @apply absolute right-4 bottom-12 max-w-xs;
    .logo-partner {
      @apply flex items-center justify-center;
    }
  }
}

.page-cyber-security {
  .hero-container {
    @apply relative w-full bg-primary text-white;
    height: calc(100vh - 144px);
    background-image: url('/services-5-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
  .hero-inner {
    @apply relative w-full h-full max-w-7xl px-4 mx-auto;
  }
  .hero-title {
    @apply uppercase absolute top-12 left-4 w-full max-w-xs text-3xl;
  }
  .hero-text {
    @apply absolute right-4 top-12 max-w-xl text-lg;
    p {
      @apply mb-4;
    }
    ul {
      @apply ml-auto;
      max-width: 360px;
      li {
        @apply relative pl-7 mb-1;
        &:before {
          content: '∞';
          font-size: 18px;
          position: absolute;
          top: 0;
          left: 0;
          line-height: 1.5;
        }
      }
    }
  }
  .hero-logos {
    @apply absolute right-4 bottom-8 max-w-3xl;
    .logo-partner {
      @apply flex items-center justify-center;
    }
  }
}

.page-network {
  .hero-container {
    @apply relative w-full bg-primary text-white;
    height: calc(100vh - 144px);
    background-image: url('/services-4-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
  .hero-inner {
    @apply relative w-full h-full max-w-7xl px-4 mx-auto;
  }
  .hero-title {
    @apply uppercase absolute top-16 left-4 w-full max-w-lg text-3xl;
  }
  .hero-text {
    @apply absolute right-4 top-12 max-w-lg text-lg;
    p {
      @apply mb-4;
    }
    ul {
      @apply mb-4;
      li {
        @apply relative pl-7 mb-1;
        &:before {
          content: '∞';
          font-size: 18px;
          position: absolute;
          top: 0;
          left: 0;
          line-height: 1.5;
        }
      }
    }
  }
  .hero-logos {
    @apply absolute right-4 bottom-12 max-w-2xl;
    .logo-partner {
      @apply flex items-center justify-center;
    }
  }
}

.page-other {
  .hero-container {
    @apply relative w-full bg-primary text-white;
    height: calc(100vh - 144px);
    background-image: url('/services-6-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
  .hero-inner {
    @apply relative w-full h-full max-w-7xl px-4 mx-auto;
  }
  .hero-title {
    @apply uppercase absolute top-16 left-4 w-full max-w-lg text-3xl;
  }
  .hero-text {
    @apply absolute right-4 top-12 text-lg;
    max-width: 26rem;
    p {
      @apply mb-4;
    }
    ul {
      @apply mb-4;
      li {
        @apply relative pl-7 mb-1;
        &:before {
          content: '∞';
          font-size: 18px;
          position: absolute;
          top: 0;
          left: 0;
          line-height: 1.5;
        }
      }
    }
  }
  .hero-logos {
    @apply absolute right-4 bottom-12 max-w-lg;
    .logo-partner {
      @apply flex items-center justify-center;
    }
  }
}

.page-partners {
  .logo-partner {
    @apply flex items-center justify-center;
  }
}

.page-contact {
  .hero-container {
    @apply relative w-full flex flex-col justify-center items-center bg-primary text-white;
    height: calc(100vh - 144px);
  }
  .hero-inner {
    @apply max-w-7xl w-full px-4 mx-auto;
  }
  .hero-text {
    @apply justify-start text-left leading-relaxed text-2xl xl:text-3xl xl:leading-relaxed;
  }
  .hero-text p {
    @apply mb-8;
  }
}

.mobilenavbar {
  @apply bg-transparent transition ease-out duration-1000;
  .menu-icon {
    @apply fill-current text-primary transition duration-300;
  }
  .navbar-logo {
    @apply fill-current text-primary transition duration-300;
    width: 24px;
    height: 30px;
  }
  .navbar-title {
    @apply text-primary transition duration-300;
  }
  &.scroll {
    @apply bg-primary;
    .menu-icon,
    .navbar-logo,
    .navbar-title {
      @apply text-white;
    }
  }
}

.mobilemenu {
  @apply fixed w-64 h-full bg-primary text-white z-50 shadow-xl transform -translate-x-full transition duration-500 ease-out lg:hidden;
  &.open {
    @apply transform translate-x-0;
  }
}
.overlay {
  @apply fixed w-full h-full opacity-0 bg-black bg-opacity-50 transition duration-500 ease-out lg:hidden;
  z-index: -1;
  &.open {
    @apply opacity-100 z-40;
  }
}

.mobile-home-hero {
  @apply w-full;
  height: 100vh;
  background-color: #ededed;
  background-image: url('/mobile/home-hero.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}
